<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/common2.css" rel="stylesheet" />
    <link href="/css/pretendard.css" rel="stylesheet" />

</head>
<body class="">
    <div class="mt-5 pb-4 px-4 d-flex justify-content-center">
        <div class="w-100 max-w-md">
            <div class="text-center">
                <a href="/index5.html" th:href="@{/}">
                    <img class="w-50" src="/img/mypet_logo.png" alt="">
                </a>
            </div>
            <div class="text-center">
                <h3 class="mt-4 fw-bold">MY PET에 오신것을 환영합니다.</h3>
                <p class="text-sm text-dark-500">MYPET은 개인포트폴리오 어플리케이션 입니다.</p>
            </div>
            <div class="hr-text py-3">
                <span class="px-1">회원가입에 필요한 기본정보를 입력해주세요.</span>
            </div>
            <form action="/index5.html" th:action class="mt-3" th:object="${signUpForm}" method="post">
                <div>
                    <label class="text-sm fw-medium text-dark-500" for="login-id">아이디</label>
                    <input class="form-control" type="text" placeholder="4~15자 이내로 입력해주세요" id="login-id" th:field="*{loginId}">
                    <div th:if="${errors?.containsKey('loginId')}">
                        <p class="text-danger" th:text="${errors['loginId']}">아이디 오류</p>
                    </div>
                </div>
                <div class="mt-4">
                    <label class="text-sm fw-medium text-dark-500" for="password">비밀번호</label>
                    <input class="form-control" type="password" placeholder="최소 6자 이상(알파벳,숫자 필수)" id="password" th:field="*{password}">
<!--                    <div th:if="${errors?.containsKey('password')}">-->
<!--                        <p class="text-danger" th:text="${errors['password']}">비밀번호 오류</p>-->
<!--                    </div>-->
                </div>
                <div class="mt-4">
                    <label class="text-sm fw-medium text-dark-500" for="repeat-password">비밀번호 확인</label>
                    <input class="form-control" type="password" placeholder="최소 6자 이상(알파벳,숫자 필수)" id="repeat-password" th:field="*{repeatPassword}">
<!--                    <div th:if="${errors?.containsKey('repeatPassword')}">-->
<!--                        <p class="text-danger" th:text="${errors['repeatPassword']}">비밀번호 확인 오류</p>-->
<!--                    </div>-->
                </div>
                <div class="mt-4">
                    <label class="text-sm fw-medium text-dark-500" for="email">이메일</label>
                    <input class="form-control" type="email" placeholder="example@example.com" id="email" th:field="*{email}">
<!--                    <div th:if="${errors?.containsKey('email')}">-->
<!--                        <p class="text-danger" th:text="${errors['email']}">이메일 오류</p>-->
<!--                    </div>-->
                </div>
                <div class="mt-4">
                    <label class="text-sm fw-medium text-dark-500" for="name">이름</label>
                    <input class="form-control" type="text" placeholder="홍길동" id="name" th:field="*{name}">
<!--                    <div th:if="${errors?.containsKey('name')}">-->
<!--                        <p class="text-danger" th:text="${errors['name']}">이름 특수문자 오류</p>-->
<!--                    </div>-->
                </div>
                <div class="mt-4">
                    <label class="text-sm fw-medium text-dark-500" for="nickname">닉네임</label>
                    <input class="form-control" type="text" placeholder="별명을 알파벳, 한글, 숫자를 20자 이하로 입력해주세요" id="nickname" th:field="*{nickName}">
<!--                    <div th:if="${errors?.containsKey('nickname')}">-->
<!--                        <p class="text-danger" th:text="${errors['nickname']}">특수문자 오류</p>-->
<!--                    </div>-->
                </div>

                <div class="d-flex justify-content-center mt-3">
                    <a href="#!" class="fw-medium px-4 text-decoration-none text-blue-500  text-sm">서비스이용약관</a>
                    <div class="vr"></div>
                    <a href="#!" class="fw-medium px-4 text-decoration-none text-blue-500 text-sm">개인정보처리방침</a>
                </div>
                <div class="d-grid mt-4 mx-auto">
                    <button type="submit" class="btn btn-primary btn-form py-2">회원가입</button>
                </div>
                <div class="mt-4 text-center text-sm">
                    <span class="">이미 회원이신가요?</span>
                    <a href="" class="text-blue-500 mx-1">로그인</a>
                </div>
            </form>
        </div>
    </div>


</body>
</html>